<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.motionblurstudios.bro2bro" android:versionName="1" android:versionCode="5">
	<uses-sdk android:targetSdkVersion="24" android:minSdkVersion="23" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="YOUR_PACKAGE_NAME.permission.C2D_MESSAGE" />
	<permission android:name="YOUR_PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<application android:label="Bro2Bro" android:icon="@drawable/Icon"></application>
</manifest>